@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive !important;
}

a {
  color: #000 !important;
  text-decoration: none;
}

a:hover {
  border-bottom: #000 solid 1px;
}

* {
  box-sizing: border-box;
}

.content {
  padding: 10px 60px;
}

.ant-timeline-item-content {
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    padding: 10px 20px;
  }
}
